.deps
.libs
.DS_Store
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
m4/
configure
libtool
config.log
config.status
doc/html
doc/*.tag
include/pion/stamp-h1
tests/Pion*UnitTests
utils/Pion*Server
pion-net.pc
*.o
*.lo
*.la
