.deps
.libs
.DS_Store
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
m4/
bin/
configure
libtool
config.log
config.status
doc/html
doc/*.tag
include/pion/stamp-h1
include/pion/config.hpp
utils/piond
utils/helloserver
tests/piontests
tests/sandbox/
pion.pc
*.o
*.lo
*.la
pion.xcodeproj/xcuserdata/
pion.xcodeproj/project.xcworkspace/xcuserdata/
pion.xcodeproj/project.xcworkspace/xcshareddata/pion.xccheckout
IntermediateOutput/
Release_*/
*.user
*.suo
*.ncb
_ReSharper.*/
tests/test_log.xml
tests/test_results.xml
tests/piontests.log
tests/piontests.trs
test-suite.log
pion-*.tar.gz
pion-*.tar.bz2
pion-*.tar.zip
